.proyectos {
  padding: var(--spacing-lg);
  text-align: center;
  max-width: 1250px;
  margin: auto;

}

.proyectos-titulo {
  font-size: 2rem;
  margin-bottom: var(--spacing-lg);
  color: var(--color-principal);
  
}

/* filas */
.proyectos-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--spacing-lg);
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .proyectos-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .proyectos-container {
    grid-template-columns: 1fr;
  }
}

/* TARJETA */
.card {
  background: var(--color-dark);
  border-radius: var(--radius-md);
  overflow: hidden;
  box-shadow: var(--shadow-mobile);
  transition: var(--transition);
}

.card:hover {
  transform: translateY(-8px) scale(1.02);
}

/* IMAGEN */
.card-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

/* PLACEHOLDER */
.placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-dark-secundario);
  color: var(--text-light);
  height: 180px;
}

/* CONTENIDO */
.card-body {
  padding: var(--spacing-md);
}

.card-body h3 {
  margin-bottom: var(--spacing-sm);
  color:var(--color-white);
}

.card-body p {
  color: var(--text-light);
  font-size: 0.9rem;
  margin-bottom: var(--spacing-md);
}

/* BOTONES */
.botones {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

/* BOTÓN BASE */
.btn {
  padding: 8px 14px;
  background: var(--gradient-main);
  color: var(--color-white);
  text-decoration: none;
  border-radius: var(--radius-sm);
  font-size: 0.85rem;
  transition: var(--transition);
}

.btn:hover {
  background: var(--color-hover);
}

/* BOTÓN GITHUB DIFERENTE */
.github {
  background: transparent;
  border: 1px solid var(--color-principal);
}

.github:hover {
  background: var(--color-principal);
}